numpy
pandas
networkx

scikit-learn
matplotlib
seaborn
plotly
yellowbrick
pyod
xgboost
lightgbm
catboost
lightautoml
optuna
torch

natasha
dostoevsky
gensim

ollama
llama-cpp-python
transformers

fastapi
uvicorn[standard]
flask
django
lxml
python-dotenv

sqlalchemy
