numpy
pandas
scikit-learn
matplotlib
seaborn
openpyxl
python-dotenv

# LLM (на экзамене уже установлены — дублируем для локальной установки)
openai
ollama
gigachat
llama-cpp-python
transformers
torch
